{% extends "base.html" %}
{% block content  %}
<a class="btn btn-success" href="{% url 'student-add' %}">Agregar</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">N. Control</th>
      <th scope="col">Activo</th>
        <th scope="col">Semestre</th>
    </tr>
  </thead>
  <tbody>
  {% for student in students %}
    <tr>
      <th scope="row">{{student.id}}</th>
      <td>{{student.name}}</td>
      <td>{{student.control_number}}</td>
      <td>{{student.is_active}}</td>
        <td>{{student.semester}}</td>
        <td><a class="btn btn-success" href="{% url 'student-update' student_id=student.id %}">Editar</a></td>
        <td><a class="btn btn-danger"  href="{% url 'student-delete' student_id=student.id %}" >Eliminar</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}